body {
  width: 100%;
  margin: 0px;
  background-color: hsl(218, 28%, 13%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
  margin-top: 1em;
}

.header-right {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-right: 40px;
  align-items: center;
  font-size: 18px;
}

#logo {
  width: 50%;
}

.header-right img {
  display: none;
}

.ah {
  display: flex;
  width: 100%;
  justify-content: right;
}

.ah div {
  margin-left: 50px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-right a:hover {
  text-shadow: 1px 1px 4px red;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}

.header-right a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.img-desktop {
  width: 45em;
  height: 35em;
}

.intro {
  font-size: 42px;
  margin-top: 10px;
  width: 700px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@font-face {
  font-family: real;
  src: url(/fonts/Poppins-Regular.ttf);
}

.real {
  font-family: real;
  font-size: 18px;
  display: flex;
  text-align: center;
}

.all-types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 5vh;
}

.types {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 30vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about {
  font-size: 20px;
  width: 600px;
  display: flex;
  text-align: center;
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.get-started button {
  width: 240px;
  height: 50px;
  border-radius: 30px;
  color: white;
  background-color: hsl(198, 60%, 50%);
  border: none;
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5vh;
}

.illustration-stay-productive {
  width: 40%;
  margin-left: 5%;
}

.productivity {
  width: 40%;
  margin-left: 15%;
  display: flex;
}

.edd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.types .wha {
  display: flex;
  justify-content: center;
  text-align: center;
}

.introo {
  font-size: 42px;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nevver {
  font-size: 18px;
}

.fyle {
  font-size: 15px;
  padding: 25px;
}

.huddle {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.never {
  padding-top: 15px;
}

.profile {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50px;
}

.howitworks {
  display: flex;
  align-items: last baseline;
  border-bottom: 2px solid hsl(176, 68%, 64%);
  width: 160px;
  font-size: 16px;
  height: 40px;
}

.howitworks a {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
}

.improved {
  background-color: hsl(219, 30%, 18%);
  height: 220px;
  margin: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.how {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  width: 700px;
  padding: 15px;
}

.impro {
  display: flex;
}

.sign {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.sign button {
  height: 45px;
  border-radius: 20px;
  border: none;
  width: 220px;
  cursor: pointer;
  background-color: hsl(176, 68%, 64%);
}

.placeh {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.sign div input {
  width: 370px;
  height: 45px;
  border-radius: 20px;
  border: none;
}

.sign-in {
  margin-top: 70px;
  padding: 50px;
  background-color: hsl(217, 28%, 15%);
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 1;
  margin-top: 100em;
  position: absolute;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  padding: 70px;
  justify-content: space-between;
}

.phone {
  display: flex;
  height: 80px;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-evenly;
}

.all-log {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}

.log {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
}

.image-logo {
  padding-left: 70px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer {
  width: 100%;
  height: 50vh;
  background-color: hsl(217, 28%, 15%);
  padding-top: 15em;
  margin-top: 15em;
}

.jren {
  position: relative;
  z-index: -2;
  top: 15vh;
  right: 83vh;
}

.lorem {
  width: 350px;
}

.improvement {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}

.improved-content {
  display: flex;
  flex-direction: row;
}

.improvi {
  display: flex;
  flex-direction: row;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: hsl(0, 100%, 63%);
  font-size: 16px;
  padding-top: 15px;
  position: absolute;
  display: none;
}
.error {
  border: 1px solid red;
}

@media screen and (max-width:1150px) {
  .types {
    width: 50%;
  }
}

@media screen and (max-width:1050px) {
  .types .wha {
    width: 70%;
    margin-top: 20PX;
  }

  .sign-in {
    margin-top: 115em;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    justify-content: center;
  }

  #logo {
    width: 50%;
    padding-left: 15px;
  }

  .container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .all-header img {
    width: 100px;
    height: 34px;
    margin-top: 5px;
  }

  .hb {
    cursor: pointer;
    width: 35px;
    height: 35px;

  }
  .cluz {
    cursor: pointer;
    width: 35px;
    border-radius: 20px;
    height: 35px;
  }

  @font-face {
    font-family: font1;
    src: url(/fonts/CormorantGaramond-Bold.ttf);
  }

  .ah div {
    margin-left: 0;
  }

  .ah {
    display: none;
    position: absolute;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 1px 1px 5px white;
    font-family: font1;
    top: 70px;
    height: 300px;
    width: 70%;
    border-radius: 15px;
    left: 15%;
  }

  .header-right a {
    color: black;
    font-size: 42px;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    width: 50%;
    padding-left: 15px;
  }

  .all-header a {
    font-size: 16px;
  }

  .img-desktop {
    width: 400px;
    height: 300px;
    margin-top: 20px;
  }

  .intro {
    font-size: 24px;
    width: 400px;
  }

  .about {
    width: 350px;
    font-size: 18px;
    padding: 0;
    margin-bottom: 10px;
  }

  .all-types {
    width: 100%;
  }

  .illustration-stay-productive {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productivity {
    width: 100%;
  }

  .edd {
    width: 100%;
  }

  .types {
    width: 100%;
  } 

  .im {
    margin: 0;
    padding: 0;
  }

  .product {
    display: flex;
    flex-direction: column;
  }

  .illustration-stay-productive img {
    width: 380px;
    height: 310px;
    margin-top: 20px;
  }

  .productivity {
    display: flex;
    margin: 0;
  }

  .introo {
    width: 100%;
    margin-top: 10px;
    padding: 0;
    display: block;
    align-items: start;
  }

  .never {
    width: 100%;
    display: block;
  }

  .introo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .hb {
    display: flex;
  }

  .never {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 380px;
  }

  .jren {
    padding-bottom: 0em;
    padding-left: 62em;
  }

  .footer-content {
    display: flex;
  }

  .sign-in {
    display: flex;
    flex-direction: column;
    width: 260px;
    text-wrap: wrap;
    position: absolute;
    top: 175vh;
  }

  .placeh {
    width: 1em;
    margin-bottom: 10px;
  }
  .sign div input {
    width: 320px;
  }

  .how {
    width: 360px;
  }

  .sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15em;
    align-items: center;
  }

  .footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    flex-direction: column;
    height: 28em;
  }

  .middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-right img {
    display: flex;
  }


  .footer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75em;
    width: 100%;
    margin-top: 20em;
    padding: 0;
  }

  .lorem {
    width: 23em;
  }

  .image-logo {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    align-items: left;
  }

  .improvi {
    display: flex;
    flex-direction: column;
  }
}
